@charset "utf-8";
/* 도깨비 PJ 공통클래스/웹폰트 CSS - core.css*/

/* 웹폰트 CDN */
@import url('https://fonts.googleapis.com/css2?family=East+Sea+Dokdo&family=Jua&family=Nanum+Gothic&family=ZCOOL+KuaiLe&display=swap');
/* 
1. 캐릭터 설명 제목체
font-family: 'East Sea Dokdo', cursive;
2. 캐릭터 설명 내용체
font-family: 'Jua', sans-serif;
3. 캐릭터 설명 한자체
font-family: 'ZCOOL KuaiLe', cursive;
4. 전체 공통체(메뉴 등)
font-family: 'Nanum Gothic', sans-serif;
*/

/* 전체 웹폰트 일반적용! */
body{
    font-family: 'Nanum Gothic', sans-serif ;
}

/* 속박스 class */
.ibx{
    max-width: 1200px;
    /* 최대가로크기 1200px이면
    싸고 있는 박스가 이것보다 작아질 경우
     */
    margin: 0 auto;
}

/* 스크롤바 디자인 클래스 */
/* -webkit- 벤더사명(크롬, 사파리) 접두어 
( 참고: -ms-(ie), -o-(오페라), -moz-(파이어폭스) */
.scbar::-webkit-scrollbar{
    /* 전체 스크롤바 크기 */
    width: 7px;
}
.scbar::-webkit-scrollbar-thumb{
    /* 스크롤바 */
    background-color: #555;
    border-right: 5px;
    border-radius: 3px;

}
.scbar::-webkit-scrollbar-track{
    /* 스크롤바 트랙 */
    background-color: rgb(206, 200, 200);
    border-right: 5px;
}

/* float 셋팅 클래스 */
.clb > li{
    float: left;
}
/* float설정 지우기 클래스 */
.clb::after{
    content: '';
    display: block;
    clear: both;
}
/* IR클래스 */
/* 배경이미지 설명클래스 (Image Replacement) */
.ir{
    display: block;
    width: 0;
    height: 0;
    overflow: hidden;
}